body {
  background-color: purple;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.Home img {
  width: 25%;
  height: 25%;
}

.Home h2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 1000;
}

.member,
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.member h1,
.product h1 {
  margin: 20px;
}

.member p,
.product p {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member button,
.product button {
  background-color: blue;
  color: #fff;
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
}
